altgraph==0.16.1
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
click==7.1.2
EasyProcess==0.2.8
Flask==1.1.2
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
line-bot-sdk==1.17.0
MarkupSafe==1.1.1
MouseInfo==0.1.2
numpy==1.17.2
opencv-python==4.1.2.30
pefile==2019.4.18
Pillow==6.2.1
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
pyhooked==0.8.1
PyInstaller==3.5
PyMsgBox==1.0.7
pyocr==0.7.2
pyperclip==1.7.0
PyRect==0.1.4
pyscreenshot==0.6
PyScreeze==0.1.25
PyTweening==1.0.3
pywin32-ctypes==0.2.0
requests==2.22.0
soupsieve==1.9.4
urllib3==1.25.6
Werkzeug==1.0.1
